<h1>Список сотрудников</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Отдел
                <input [(ngModel)]="filterDepartment" (input)="filterEmployee()" type="text" name="department" value="" />
            </td>
            <td>Ф.И.О
                <input [(ngModel)]="filterName" (input)="filterEmployee()"  type="text" name="name" value="" />
            </td>
            <td>Дата рождения
                <input [(ngModel)]="filterBirthdayDate" (input)="filterEmployee()" type="date" name="birthdayDate" value="" />
            </td>
            <td>Дата устройства на работу
                <input [(ngModel)]="filterEmploymentDate" (input)="filterEmployee()" type="date" name="employmentDate" value="" />
            </td>
            <td>Заработная плата
                <input [(ngModel)]="filterSalary" (input)="filterEmployee()" type="number" name="salary" value="" />
            </td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of filteredEmployee">
            <td>{{e.department}}</td>
            <td>{{e.name}}</td>
            <td>{{e.birthdayDate | date:'dd.MM.yyyy'}}</td>
            <td>{{e.employmentDate | date:'dd.MM.yyyy'}}</td>
            <td>{{e.salary}}</td>
            <td>
                <button class="btn btn-sm" (click)="add(e)">Создать</button>
                <button class="btn btn-sm btn-primary" (click)="editProduct(e)">Редактировать</button>
                <button class="btn btn-sm btn-danger" (click)="delete(e)">Удалить</button>
            </td>
        </tr>
    </tbody>
</table>
